.containerX{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.App{
    width: 100%;
    border: #003F62 1px solid;
    padding: 0;
}
.navMenu{
    background-color: #003F62;
    height: 100px;
}
.paddin{
    padding: 0 60px;
}
.sign-in{
    color: white;
    gap: 30px;
    width: 30%;
    align-items: center;
}
#badge{
    display: block;
    background-color: #EDA415;
    padding: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    text-align: center;
    font-size: 0.7rem;
}
.signIcon{
    height: 25px;
    width: 25px;
    color: white;
}
.searchInput{
    border-radius: 20px ;
    height: 55px;
    width: 435px;
}
#btn{
    position: absolute;
    background-color: #EDA415;
    height: 55px;
    width: 130px;
    border-radius: 20px;
    right: 0;
}
.srchForm{
    position: relative;
}
.logoSrch{
    width: 70%;
    margin: 0;
    display: flex;
    gap: 85px;
    justify-content: flex-start;
}
.iconNav{
    gap: 0.3rem;
}
.headpara{
    color: #292D32;
    font-size: 14px;
    font-weight: 400;
}
.headIcon{
    gap: 2rem;
}
.headIcon>div{
    gap: 1rem;
}